@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

<hr />
<table class="table table-bordered">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.make</td>
            <td>@product.model</td>
            <td>@product.price</td>
        </tr>
    }
</table>
